* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.first-up-div {
    padding-top: 100px;
}

.first-section {
    /* margin-top: 100px; */
    height: 500px;
    background-image: url(image/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2.9;
}

.link-button {
    width: 130px;
    display: flex;
    margin-left: 630px;
    margin-top: 20px;
    font-weight: bold;

}

.up-h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(249, 198, 11);
}

.up-p-clor {
    color: rgb(237, 238, 237);

}

.all-p-tag {
    font-size: 15px;
    text-align: center;

}

.first-section a {
    padding: 10px 20px;
    background-color: rgb(238, 98, 5);
    color: antiquewhite;
    text-decoration: none;
    display: flex;
    border-radius: 5px;
}

/* 1111111111111111111111111111111111111111111111 */
.all-h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;

}

.donte-tdy {
    margin-top: 70px;
    margin-bottom: 70px;
}

.secound-p-tag {
    margin-top: 30px;
}

.box {
    width: 120px;
    height: 100px;
    /* border: 1px solid red; */
    background-color: rgb(235, 221, 221);
    margin-left: 10px;
    margin-right: 10px;
}

.box-border {
    border: 2px solid red;
    color: red;
}

.total-box {
    display: flex;
    justify-content: center;
    /* margin-top: 80px;
    margin-left: 317px; */
}

.total-box h2 {
    text-align: center;
    margin-top: 38px;
    font-weight: bold;
    /* justify-content: space-evenly; */
}

.total-box-main {
    margin-bottom: 50px;
}

.amount {
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 40px;
    width: 685px;
    margin-left: 335px;
    opacity: 0.5;

}

.link-button-two {
    width: 130px;
    display: flex;
    margin-left: 630px;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 100px;

}

.link-button-two a {
    padding: 10px 20px;
    background-color: rgb(238, 98, 5);
    color: antiquewhite;
    text-decoration: none;
    display: flex;
    border-radius: 5px;
}

/* 222222222222222222222222222222222222222222222222 */